* {
    padding: 0;
    margin: 0;
}

.found {
    padding: 20px;
}

.foun {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.founder {
    width: 60%;
}

.name {
    font-size: 30px;
    color: #01134d;
    font-weight: 700;
}

.hl1 {
    height: 7px;
    background-color: #01134d;
}

.founder-desc {
    font-size: 20px;
    color: #01134d;
}

.founder-pic {
    width: auto;
    height: 50%;
}

@media (max-width:991px) {}

@media (max-width:700px) {
    .foun {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    .founder {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .founder-desc {
        font-size: 13px;
        font-weight: 700;
    }
    .name {
        font-size: 24px;
    }
}