
.blogs{
  background-color: #00134d;
  color: white;
}

.carousel-inner{
  font-family: 'Poppins', sans-serif;
}

.blog-image{
  width: 100%;
  margin: auto;
  padding-bottom: 3%;
}
.col-lg-4{
  padding: 2%;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
